// Place all the styles related to the Cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: sans-serif;
  table {
    td {
      padding: 5px 5px 5px 5px;
    }
  }
  div {
    padding-top: 7px;
  }
  h1: {
    padding-top: 10px;
  }
}
